@using ClinicProject.Server.Models.Auth.Login
@model LoginModel

@{
    ViewBag.Title = "Login";
    var returnUrl = @Context.Request.Query["returnurl"];
}

<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col col-md-8 col-lg-4 d-flex">
            <div id="login-container" class="d-flex flex-column">
                <svg xml:space="preserve" viewBox="0 0 512 512">
                <g fill="#2d527c">
                <path d="M164.25 512c-49.81 0-69.856-77.647-84.493-134.341-3.58-13.868-6.963-26.968-9.569-33.223-29.394-70.516-46.942-143.464-46.942-195.139 0-38.541 13.133-75.119 36.981-102.995C85.773 16.444 120.995 0 159.409 0c30.782 0 61.291 17.624 83.565 30.493l.311.179c7.812 4.514 17.628 4.519 25.532-.036l.31-.178C291.45 17.602 322.012 0 352.591 0c38.414 0 73.636 16.444 99.179 46.303l.028.031c23.832 27.874 36.956 64.438 36.956 102.965 0 17.872-4.459 45.411-14.031 86.662-1.964 8.462-10.42 13.725-18.877 11.766-8.462-1.964-13.729-10.415-11.765-18.876 8.893-38.327 13.217-64.348 13.217-79.553 0-31.035-10.445-60.342-29.409-82.522l-.02-.024c-19.472-22.762-46.205-35.296-75.276-35.296-22.169 0-48.519 15.175-67.758 26.255l-.315.181c-17.597 10.142-39.461 10.131-57.05-.031l-.228-.131c-19.197-11.089-45.483-26.274-67.832-26.274-29.071 0-55.804 12.534-75.278 35.295-18.976 22.182-29.428 51.498-29.428 82.546 0 47.733 16.642 116.158 44.519 183.037 3.47 8.324 6.788 21.183 10.991 37.462 6.177 23.923 13.863 53.695 24.354 77.021 6.35 14.116 13.02 24.116 19.477 29.396a2359 2359 0 0 0 3.097-12.956c7.043-29.719 17.687-74.63 32.199-113.235 12.632-33.599 33.36-78.243 67.406-78.243h.145c34.084.127 54.453 44.889 66.811 78.546 14.171 38.598 24.418 83.414 31.201 113.072.994 4.346 2.001 8.75 2.921 12.668 8.419-6.872 15.458-20.417 19.522-29.521 10.453-23.421 18.047-53.387 24.149-77.466 4.201-16.583 7.52-29.681 11.043-38.154 3.334-8.022 12.542-11.822 20.56-8.487 8.023 3.334 11.822 12.539 8.487 20.56-2.641 6.353-6.021 19.689-9.599 33.807-14.443 56.995-34.222 135.052-84.515 135.052-13.007 0-16.208-12.38-18.121-19.777-1.373-5.312-3.025-12.531-5.113-21.669-6.604-28.881-16.586-72.524-30.065-109.242-20.651-56.248-35.746-57.926-37.397-57.933-1.653.061-16.826 1.568-37.987 57.855-13.811 36.734-24.178 80.476-31.035 109.42-2.177 9.187-3.898 16.444-5.324 21.785-1.972 7.372-5.264 19.705-18.18 19.705z" />
                <path d="M256 159.795c-49.963 0-94.468-20.875-110.746-51.945-4.031-7.694-1.062-17.201 6.633-21.232 7.691-4.03 17.201-1.062 21.232 6.633 10.823 20.658 44.906 35.087 82.881 35.087s72.057-14.428 82.881-35.087c4.03-7.694 13.533-10.665 21.23-6.633 7.696 4.031 10.664 13.536 6.633 21.232-16.277 31.07-60.783 51.945-110.744 51.945z" />
                 </g>
                <path fill="#cee8fa" d="M83.585 335.665c.374.908.741 1.815 1.118 2.721 12.738 30.565 29.936 157.887 79.545 157.887 3.592 0 20.156-98.954 47.98-160.608H83.585z" />
                <path fill="#2d527c" d="M164.25 512c-49.961 0-69.932-77.632-84.512-134.318-3.57-13.88-6.944-26.992-9.55-33.247l-1.145-2.785a15.727 15.727 0 0 1 14.544-21.715H212.23a15.727 15.727 0 0 1 14.335 22.199c-17.666 39.148-30.905 95.004-38.815 128.379-2.177 9.187-3.898 16.444-5.324 21.785-1.968 7.369-5.26 19.702-18.176 19.702zm-58.891-160.606c1.512 5.507 3.102 11.685 4.843 18.453 6.153 23.917 13.808 53.681 24.289 76.991 6.357 14.138 13.051 24.146 19.546 29.414.975-4.003 2.048-8.528 3.105-12.992 6.803-28.698 17.418-73.491 31.693-111.865l-83.476-.001z" />
                <path fill="#cee8fa" d="M300.865 335.665c27.295 61.611 43.041 160.465 46.605 160.465 50.084 0 66.763-128.308 79.589-159.169l.404-1.296H300.865z" />
                <path fill="#2d527c" d="M347.47 511.858c-13.007 0-16.208-12.38-18.121-19.777-1.373-5.312-3.025-12.531-5.115-21.669-7.631-33.366-20.403-89.215-37.75-128.376a15.724 15.724 0 0 1 1.197-14.948 15.733 15.733 0 0 1 13.184-7.15h126.598a15.73 15.73 0 0 1 15.018 20.406l-.404 1.298c-.145.461-.308.914-.492 1.361-2.641 6.353-6.021 19.689-9.599 33.807-14.442 56.991-34.221 135.048-84.516 135.048zm-23.383-160.464c13.987 38.42 24.245 83.279 30.815 112.005.994 4.346 2.001 8.75 2.921 12.668 8.419-6.872 15.458-20.417 19.522-29.521 10.453-23.421 18.047-53.387 24.149-77.466 1.633-6.444 3.132-12.361 4.561-17.687l-81.968.001z" />
                </svg>
                @await Html.PartialAsync("StatusMessage")
                <form asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@returnUrl" method="post">
                    <div class="mb-3">
                        <label asp-for="Username"></label>
                        <input class="form-control" type="text" asp-for="Username" />
                        <span class="text-danger" asp-validation-for="Username"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password"></label>
                        <input class="form-control" type="password" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="d-grid">
                        <button class="sub-btn btn btn-primary btn-lg" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>